#### Python Basic Assignment 16 Solution

#### Q 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [6]:
# Ans 

years_list = [i for i in range(1991, 1991+5)]

years_list

[1991, 1992, 1993, 1994, 1995]

#### Q 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [8]:
#Ans

print(years_list[3])

1994

#### Q 3.In the years list, which year were you the oldest?

In [10]:
#Ans

print(years_list[-1]) #method 1
print(max(years_list)) #method 2

1995
1995

#### Q 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [32]:
#Ans 

things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

#### Q 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [34]:
things_capitalized = []

for i in range(len(things)):
    if things[i] == 'cinderella':
        things_capitalized = things[i].capitalize()
print(things_capitalized) 

#Capitalize() will not update the list original values.

Cinderella

#### Q 6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [44]:
surprise_list = ['Groucho','Chico','Harpo']
print(surprise_list)

['Groucho', 'Chico', 'Harpo']

#### Q 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [49]:
list2 = surprise_list[-1].lower()
print(list2[::-1].capitalize())

Oprah

#### Q 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [54]:
e2f = {'dog':'chien', 'cat':'chat', 'walrus':'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

#### Q 9. Write the French word for walrus in your three-word dictionary e2f.

In [58]:
#Ans

print(e2f['walrus']) #method 1
print(e2f.get('walrus')) #method 2

morse
morse

#### Q 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [56]:
#Method 1
f2e = dict([i[::-1] for i in e2f.items()])
print(f2e)

#Method 2
f2e = dict((key,value) for value,key in e2f.items())
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}
{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

#### Q 11. Print the English version of the French word chien using f2e.

In [59]:
#Ans 

print(f2e['chien']) #method 1
print(f2e.get('chien')) #method 2

dog
dog

#### Q 12. Make and print a set of English words from the keys in e2f.

In [61]:
print(list(e2f.keys()))

['dog', 'cat', 'walrus']

#### Q 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [1]:
life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
print(life)

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''}, 'plants': '', 'other': ''}

#### Q 14. Print the top-level keys of life.

In [3]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

#### Q 15. Print the keys for life['animals'].

In [5]:
print(list(life['animals'].keys()))

['cat', 'octopi', 'emus']

#### Q 16. Print the values for life['animals']['cat']

In [7]:
print(life['animals']['cat'])

['Henri', 'Grumpy', 'Lucy']