#### Python Basic Assignment 20 Solution

#### Q 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
#Ans

test1 = 'This is a test of the emergency text system,'

print(test1)
with open('test.txt','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system,

#### Q 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
#Ans

with open('test.txt','r') as f:
    test2 = f.read()
    
print(test2)

print("\ntest1 and test2 is same :", test1==test2)

This is a test of the emergency text system,

test1 and test2 is same : True

#### Q 3. Create a CSV file called books.csv by using these lines:

`title,author,year`  
`The Weirdstone of Brisingamen,Alan Garner,1960`  
`Perdido Street Station,China Miéville,2000`  
`Thud!,Terry Pratchett,2005`  
`The Spellman Files,Lisa Lutz,2007`  
`Small Gods,Terry Pratchett,1992`

In [3]:
#Ans

data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w') as file:
    file.write(data)
    file.close()

#### Q 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
#Ans

import sqlite3
conn = sqlite3.connect('books.db') # Connection is Created
cur = conn.cursor()

cur.execute("CREATE TABLE books(title varchar(20),author varchar(20), year int)") #Table Created in database
conn.commit()
conn.close()

#### Q 5. Read books.csv and insert its data into the books table.

In [5]:
#Ans 

import csv
import sqlite3
conn = sqlite3.connect("books.db")  # connection has been created
print("Connection Established.")
try:
    with open('books.csv', 'rt') as f:
        books = csv.DictReader(f)
        
        for book in books:
            query = f"INSERT INTO books VALUES ('{book['title']}','{book['author']}',{book['year']})"
            cur = conn.cursor()
            cur.execute(query)
            conn.commit()    
    conn.close()
    print("Sucessfully inserted")
except Exception as e:
    print(e)

Connection Established.
Sucessfully inserted

#### Q 6. Select and print the title column from the book table in alphabetical order.

In [6]:
#Ans

import sqlite3
conn = sqlite3.connect('books.db')
cur = conn.cursor()
output = cur.execute("SELECT title FROM books ORDER BY title ASC")

for i in output:
    print(i[0])
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

#### Q 7. From the book table, select and print all columns in the order of publication.

In [7]:
#Ans

#Method 1
import sqlite3
conn = sqlite3.connect('books.db')
cur = conn.cursor()
ouput = cur.execute("SELECT * FROM books ORDER BY year")

for record in ouput:
    print(record)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

#### Q 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [8]:
#Ans

import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
    
query = 'SELECT title FROM books ORDER BY title ASC' 
for row in conn.execute(query):
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

#### Q 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [9]:
#Ans

!pip install redis

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: redis in /home/lipu/.local/lib/python3.10/site-packages (4.5.4)
Requirement already satisfied: async-timeout>=4.0.2 in /home/lipu/.local/lib/python3.10/site-packages (from redis) (4.0.2)

In [15]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

/tmp/ipykernel_43654/19521559.py:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

#### Q 10. Increment the count field of test and print it.

In [16]:
#Ans

conn.hincrby('test', 'count', 3)
conn.hget('test', 'count')

b'4'