 ### Python ProgrammingAssignment 2 Solutions

#### 1.Write a Python program to convert Kilometers to Miles ?

In [1]:
def km_to_miles():
    km = float(input("Enter no of kilometers : "))
    print("{} km is Equal to {} miles".format(km, km*0.621))

km_to_miles()

Enter no of kilometers : 5
5.0 km is Equal to 3.105 miles

#### 2.Write a Python program to convert Celsius to Farenheit ?

In [2]:
def celcius_to_farenheit():
    celsius = int(input("Enter temperature in celsius : "))
    Farenheit = (celsius*(9/5))+32
    print("{}째 Celsius is Equal to {}째 Farenheit".format(celsius, Farenheit))
    
celcius_to_farenheit()

Enter temperature in celsius : 30
30째 Celsius is Equal to 86.0째 Farenheit

#### 3.Write a Python program to display calender ?

In [3]:
import calendar

def display_calendar():
    year = int(input("Enter calender year: "))
    print(calendar.calendar(year))
    
display_calendar()

Enter calender year: 2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

#### 4.Write a Python program to solve quadartic equation ?

In [4]:
import cmath

a=int(input("Enter a = "))
b=int(input("Enter b = "))
c=int(input("Enter c = "))
discriminant = (b**2)-(4*a*c)
root_one = (-b+cmath.sqrt(discriminant))/(2*a)
root_two = (-b-cmath.sqrt(discriminant))/(2*a)
print(root_one ,",", root_two)

Enter a = 4
Enter b = 3
Enter c = 2
(-0.375+0.5994789404140899j) , (-0.375-0.5994789404140899j)

#### 5.Write a Python program to swap two variables without temp variable ?

In [5]:
a = int(input('Enter first number: '))
b = int(input('Enter second number: '))


def swap_numbers(a,b):
        print('Before Swapping', a, b)
        a, b = b, a
        print('After Swapping', a, b)

swap_numbers(a, b)

Enter first number: 2
Enter second number: 3
Before Swapping 2 3
After Swapping 3 2